.card-post {
  width: 86%;
  height: 200%;
  padding: 10%;
  right: -1;
  border: 2px solid #4982eb;
  background-color: #4982eb;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  /* position: relative; */
}


.card-post h4 {
  margin-top: 0;
  color: #0000ff;
}


.card-post .meta {
  font-size: 0.9em;
  color: #d7a859;
  margin-bottom: 15px;
}

.conteudo-post {
  line-height: 1.6;
}