.cards-informativos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.card {

    background-color: #d7a859;
    border: 1px solid #d7a859;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px #0000ff20;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #1504af;
}

.card h3 {
    justify-items: center;
    margin-top: 0;
    color: #000000;

}

.card p {
    color: #000000;
}