.container-central {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin: 50px auto;
  padding: 20px;
  flex-wrap: wrap;
}

.conteudo-principal {
  flex: 1;
  padding: 40px 20px;
  color: #ffffff;
  font-family: nunito;
  font-family: "Nunito", sans-serif;
  font-style: normal;

}

.cards-informativos {
  padding: 3px;
  height: 700px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.card::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.destaque {
  text-align: center;
  margin-bottom: 40px;

}

.leitura {
  width: 49%;
  flex: 1;
  min-height: 100%;
  padding: 20px;
  border-radius: 8px;
}