.corpo {
  position: fixed;
  z-index: 10;
  top: 0%;
  left: 0%;
  right: 0%;
  /* height: 10%; */
  width: 100%;
  display: flex;
  padding: 1%;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #4982eb;
}

.log {
  border: 3px solid #eef0d9;
  width: 5%;
}


.logo::before {
  content: "EroTecnologia";
  font-size: 2rem;
  color: #ffffff;

}


.menu {
  display: flex;
  justify-content: flex-end;
  width: 85%;

}

.menu-itens li {
  display: inline;
  justify-content: space-between;
  margin-right: 10px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #d7a859;
  text-decoration: none;
  transition: color 0.3s ease;
}


a:active {
  color: #ff6600;
  transform: scale(0.98);
}


a:visited {
  color: #d7a859;
}


a:focus {
  color: #fff2e6;
}