body {
  background: #020024;
  background: linear-gradient(90deg, rgba(9, 9, 121, 1) 24%, rgba(4, 3, 61, 1) 57%, rgba(2, 0, 36, 1) 100%, rgba(0, 212, 255, 1) 100%);
  font-family: nunito;
  font-family: "Nunito", sans-serif;
  font-style: normal;
 
}


footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 1px solid #4982eb;
  height: 90px;
  color: #ffffff;
}

.central{
   margin-top: 12%;
}